/*ESTILIZAÇÃO GERAL DA PAGE <BODY> <HEADER> & <FOOTER>*/

/*FONTES PRINCIPAIS*/
@font-face {
    font-family: 'NOME DA FONTE';
    src: url('../ecomercedesafio/font/') format('woff2'),
         url('../ecomercedesafio/font/') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'calibri', 'sans-serif';
}

/* Responsividade geral */
@media (max-width: 1200px) {
    /* Estilos para SmartTVs e Notebooks*/
    body, header, main, nav, article, section, footer {
        padding: 10px;
        max-width: 100%;
    }
}

@media (max-width: 1024px) {
    /* Estilos para Tablets */
    body, header, main, nav, article, section, footer {
        padding: 8px;
    }
}

@media (max-width: 768px) {
    /* Estilos para Smartphones */
    body, header, main, nav, article, section, footer {
        padding: 5px;
    }
}

a {
    text-decoration: none;
    color: rgb(94, 94, 252);
}

a:hover {
    color: rgb(0, 255, 251);
    text-transform: uppercase;
    font-weight: bolder;
}

/* Estilo para links ativos */
a:active {
    color: rgb(0, 0, 0);
}

/* Estilo do menu sanduíche */
nav {
    margin-left: 25px 25px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}
header{
    background-color: #000;
    padding: 10px;
    text-decoration: aliceblue;

}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 25px;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.icons {
    display: flex;
    gap: 25px;
    padding-right: 25px;
}

.icon-user, .icon-cart {
    margin-left: 10px;
}

/* Responsividade do menu */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

    nav {
        position: relative;
    }

    .menu-icon {
        position: absolute;
        left: 10px;
        color: white
    }

    .icons {
        position: absolute;
        right: 5px;
    }

    .menu.show {
        display: flex;
    }
}

/* Estilo do <footer> */
footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-column h4 {
    cursor: pointer;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    display: block;
}

.footer-column .separator {
    display: none;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
    }

    .footer-column ul {
        display: none;
    }

    .footer-column h4.active + ul {
        display: block;
    }

    .footer-column .separator {
        display: block;
        width: 100%;
        height: 10px;
    }
}


/*FUNCIONALIDADE DO <MAIN>*/

/* Estilo do carrossel */
#product-container{
    display: flex;
    position: relative;
    left:0;
    width: 100%;
    height: 350px;
    top: 10px;
    background: rgba(218, 218, 218, 0.459);
    z-index: 0;
    overflow-x: auto;
    overflow: hidden;
    overflow-wrap: normal;
    scroll-behavior: smooth;
    white-space: nowrap;


}

@media (min-width: 768px) {
    #product-container .produto {
        flex-basis: calc(33.33% - 20px);
        max-width: calc(33.33% - 20px);
    }
}
@media (max-width: 767px) {
    #product-container .produto {
        flex-basis: calc(50% - 20px); 
        max-width: calc(50% - 20px); 
    }
}

#product-container::-webkit-scrollbar{
    display: none;

}
#product-container .produto{
    position: relative;
    width: 250px;
    height: 300px;
    padding: 10px 10px;
    margin: 10px 10px;
    top: 17px;
    margin: 0 5px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    justify-content: center;

}

.produto {
    line-height: 0.5;
    word-wrap: break-word;
    max-width: 450px;
    min-width: 200px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
    margin: 15px;
    transition: transform 0.3s;
    width: 350px;
}

.produto:hover {
    transform: scale(1.05);
}

.produto__img {
    width: 50px;
    height: auto;
    border-radius: 10px;
    white-space: 0.5;
    justify-content: center;
    align-items: center;
}

.produto__name {
    font-size: 1.5em;
    margin: 10px 0;
}
.produto__btn {
    background: #4800ff91;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.produto__btn:hover {
    background: #00fbff;
}



@media (max-width: 992px) {
    .produto {
        width: calc(50% - 40px);
    }
}

@media (max-width: 768px) {
    .produto {
        width: calc(100% - 40px);
    }
    .produto__name {
        font-size: 1.3em;
    }
    .avaliacao .star-icon {
        width: 18px;
        height: 18px;
    }

    .produto__value, .produto__cdp, .produto__stts .produto__desc {
        font-size: 0.9em;
    }

    .produto__btn {
        padding: 8px 16px;
        font-size: 0.9em;
    }
}

@media (max-width: 576px) {
    .produto__name {
        font-size: 1.2em;
    }

    .avaliacao .star-icon {
        width: 16px;
        height: 16px;
    }

    .produto__value, .produto__cdp, .produto__stts .produto__desc  {
        font-size: 0.8em;
        align-items: right;
    }

    .produto__btn {
        padding: 6px 12px;
        font-size: 0.8em;
    }
}

@media (max-width: 400px) {
    .produto__cdp,
    .produto__stts {
        display: none;
    }

    .produto__name {
        font-size: 1.1em;
    }

    .avaliacao .star-icon {
        width: 14px;
        height: 14px;
    }

    .produto__value {
        font-size: 1em;
    }

    .produto__btn {
        padding: 4px 10px;
        font-size: 0.7em;
    }
    .produto__desc{
        padding: 4px 10px;
        font-size: 0.7em;
    }
}

@media (max-width: 1200px) {
    .produto {
        width: calc(33.333% - 40px);
    }
}
.data-produto__desc, .produto__name {
    word-wrap: break-word;
    word-break: break-all;
}
.produto__btn{
    margin-top: 25px;

}


.produto__name, .avaliacao {
    display: flex;
    justify-content:left;
    width: 100%; 
    box-sizing: border-box;
}

.star-icon {
    list-style-type: none;
    border: 1px solid #fff;
    cursor: pointer;
    color: gold;
}

.star-icon::before { content: "\2605"; /*cheio*/ }
.star-icon.ativo ~ .star-icon::before { content: "\2606"; /*vazio*/ }
.avaliacao:hover .star-icon::before { content: "\2605"; /*cheio*/ }
.star-icon:hover ~ .star-icon::before { content: "\2606"; /*vazio*/ }

.produto__value, .produto__cdp, .produto__stts, .produto__btn {
    width: 100%;
    box-sizing: border-box;
}


@media (max-width: 600px) {
    .produto {
        padding: 15px;
    }

    .produto__img {
        max-width: 150px;
    }
}


.separator {
    width: 5px;
    background: transparent;
}

#btn-left{
    position: absolute;
    padding: 0;
    top: 200px;
    left: 0;
    height: 80px;
    width: 30px;
    line-height: 80px;
    text-align: center;
    z-index: 1;
    background-color: rgba(12, 12, 12, 0.450);
    cursor: pointer;
    user-select: none;
}
#btn-right{
    position: absolute;
    padding: 0;
    top: 200px;
    right: 0;
    height: 80px;
    width: 30px;
    line-height: 80px;
    text-align: center;
    z-index: 1;
    background-color: rgba(12, 12, 12, 0.450);
    cursor: pointer;
    user-select: none;

}


/* Estilo dos catálogos */
.catalogos {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-between;
    z-index: 0;
}

.catalogo-item {
    background: #90e1ef43;
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #a4a0a028;
    padding: 10px;
    margin: 10px;
    text-align: center;
    
    
}
.catalogo-item .icon {
    font-size: 100px;
}



/* Estilo da seção outdoor */
#outdoor__title {
    font-weight: bolder;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, 'sans-serif';
    position: absolute;
    top: -38px;
    left: 10px;

}
.outdoor {
    position: relative;
    display: flex;
    justify-content: space-around;
    z-index: 0;
}

.outdoor-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.outdoor-item {
    box-shadow: 
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.08); 
    border-radius: 8px; 
    padding: 5px; 
    background: #fff; 
}


.outdoor-item:hover {
    box-shadow: 
        0 6px 10px rgba(0, 0, 0, 0.15),
        0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease; 
}
.outdoor-img{
    width: 100%;
}
.outdoor .separator {
    display: none;
}

@media (max-width: 768px) {
    .outdoor {
        flex-direction: column;
    }

    .outdoor .separator {
        display: block;
        width: 100%;
        height: 10px;
    }
}
@media (max-width: 768px) {
    .outdoor-img{
        width: 300px;

    }
}